.main-addons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.main-addons:not(:last-child) {
  margin-bottom: 2em;
}

.addon-price {
  color: blue;
}
