* {
  margin: 0;
  box-sizing: border-box;
  font-family: 'Ubuntu', sans-serif;
  /* background-color: hsl(210, 45%, 92%); */
  letter-spacing: 1px;
}

.overall-app {
  display: flex;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: hsl(0, 33%, 97%);
  padding: 1em;
  position: absolute;
  border-radius: 8px;
  min-width: 70%;
}

/* This is used to remove the arrows from input tags with type="number" */
@layer base {

  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}